<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pkast.location.mapper.LocationMapper">
    <resultMap type="com.pkast.modules.LocationInfo" id="location">
        <id column="id" property="id"/>
        <result column="xiaoquName" property="xiaoquName"/>
        <result column="locat_x_min" property="locat_x_min"/>
        <result column="locat_x_max" property="locat_x_max"/>
        <result column="locat_y_min" property="locat_y_min"/>
        <result column="locat_y_max" property="locat_y_max"/>
    </resultMap>

    <insert id="addLocation" parameterType="com.pkast.modules.LocationInfo">
        insert into xiaoqu values(#{id}, #{xiaoquName}, #{locat_x_min}, #{locat_x_max}, #{locat_y_min}, #{locat_y_max})
        on duplicate key update
        xiaoquName=values(xiaoquName),
        locat_x_min=values(locat_x_min),
        locat_x_max=values(locat_x_max),
        locat_y_min=values(locat_y_min),
        locat_y_max=values(locat_y_max)
    </insert>

    <select id="getLocationById" resultMap="location">
        select * from xiaoqu
        <where>
            <if test="id != null">
                id=#{id}
            </if>
        </where>
    </select>
</mapper>
